{% extends 'website/base.html' %}
 
{% block content %}
<main class="password-reset-page">
    <div class="password-reset-box">
        <h2>Password Reset Email Sent</h2>
        <p>
            We've sent you instructions for resetting your password to the email address you submitted.
        </p>
        <p>
            You should receive the email shortly. If you don't see it, please check your spam folder.
        </p>
        <p>
            If you don't receive an email, make sure you've entered the address you registered with.
        </p>
        <p class="mt-3">
            <a href="{% url 'accounts:login' %}">Return to Login</a>
        </p>
    </div>
</main>
{% endblock %}